<div class="content_container">
    <h3>
        <a href="/users/<%=@current_user.id %>"><%=@current_user.name%></a> says:
    </h3>
    <p id="content">
        <%=@idea.content%>
    </p>
    <h4>People who have liked this idea:</h4>
    <%@count.each do |user|%>
        <p><a href="/users/<%=user.id%>"><%=user.name%></a></p>
    <%end%>
</div>
